@font-face {
  font-family: 'Open-Sans';
  src: local('Roboto'), local('Roboto'),
    url('../assets/fonts/open-sans.woff') format('woff'),
    url('../assets/fonts/open-sans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('Roboto'), local('Roboto'),
    url('../assets/fonts/open-sans-semibold.woff') format('woff'),
    url('../assets/fonts/open-sans-semibold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('Roboto'), local('Roboto'),
    url('../assets/fonts/open-sans-bold.woff') format('woff'),
    url('../assets/fonts/open-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

