body
  margin 0
.b-header
  position relative
  &__wrapper
    height 120px
    width 100%
    box-sizing border-box
    padding 45px 150px 0px 112px
  &__item-container
    display flex
    justify-content flex-end
  &__item
    font  600 21px/24px 'Open-Sans',sans-serif
    margin 0 22px 0 18px
  &__search
    position absolute
    background url('../assets/loupe.svg') no-repeat
    width 20px
    height 20px
    top 49px
    right 120px
  &__logo
    position absolute
    background url('../assets/logo.svg') no-repeat
    width 60px
    height 60px
    top 28px
    left 120px